language: node_js
node_js:
- '0.12'
- '0.11'
- '0.10'
- iojs
after_script: ./node_modules/.bin/lab -r lcov | ./node_modules/.bin/coveralls
notifications:
  slack:
    secure: aDm5NdhvETdpNI/5JkcyIX03s8i3tKN7Y098Ztp6Ah+ucH/4bOW+r1nUD51fGgqC5LNRjOD3rG6wqJbul8uwDou7ZE68CPQcAEgGgxqgpo5hgQwozu1p1SSB8I8B1sJZxkPEvQmaJ8RFsOa8GfNvFKLntd6O33fPfXtOqCD4tWA=
